{% extends 'customer/customer_dashboard.html' %}
{% block content %}
{% load static %}

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h6 class="panel-title">Available Policies</h6>
        </div>
        
        <div class="panel-body">
            <div class="form-group">
                <label>Filter by Provider:</label>
                <select id="providerFilter" name="provider" class="form-control" style="width: 200px;">
                    <option value="">All Providers</option>
                    {% for provider in providers %}
                        <option value="{{ provider.username }}">{{ provider.username }}</option>
                    {% endfor %}
                </select>
                
            </div>
        </div>

        <table class="table table-hover" id="dev-table">
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Policy Provider</th>
                    <th>Policy Name</th>
                    <th>Category</th>
                    <th>Sum Assurance</th>
                    <th>Premium</th>
                    <th>Tenure</th>
                    <th>Creation Date</th>
                    <th>Apply</th>
                </tr>
            </thead>
            {% for t in policies %}
            <tr class="policy-row" data-provider="{{ t.provider.username }}">
                <td>{{ forloop.counter }}</td>
                <td>{{t.provider.username}}</td>
                <td>{{t.policy_name}}</td>
                <td>{{t.category}}</td>
                <td>{{t.sum_assurance}}</td>
                <td>{{t.premium}}</td>
                <td>{{t.tenure}}</td>
                <td>{{t.creation_date}}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{% url 'customer:apply' t.id %}">
                        Apply for Policy
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#providerFilter').change(function() {
        var selectedProvider = $(this).val();
        if(selectedProvider) {
            $('.policy-row').hide();
            $('.policy-row[data-provider="' + selectedProvider + '"]').show();
        } else {
            $('.policy-row').show();
        }
    });
});
</script>

{% endblock content %}
